.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webview/node_modules/**
webview/src/**
webview/.gitignore
webview/vite.config.js
webview/package*.json
*.md
!README.md
!CHANGELOG.md
!LICENSE
